{{ define "GlobalHeader" }}
<!-- Firefox FUOC https://bugzilla.mozilla.org/show_bug.cgi?id=1404468 -->
<script>
  0;
</script>
<header class="flex justify-between my-10">
  <a href="/" class="cursor-pointer"><h3 class="p-1">MW</h3></a>
  <nav class="flex gap-4 items-center">
    <a class="hover:text-zinc-900 dark:hover:text-zinc-50" href="/">Home</a>
    <a class="hover:text-zinc-900 dark:hover:text-zinc-50" href="/about"
      >About</a
    >
    <!-- <a class="hover:text-zinc-900 dark:hover:text-zinc-50" href="/login"
      >Login</a
    > -->
  </nav>
</header>
<div class="flex w-full items-center justify-end my-5">
  <a
    class="dark:text-black lowercase font-bold text-white bg-zinc-900 hover:bg-zinc-700 focus:ring-4 focus:ring-zinc-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-zinc-100 dark:hover:bg-zinc-300 focus:outline-none dark:focus:ring-zinc-800"
    href="mailto:ahoy@barelyhuman.dev?subject=Add to MinWeb.site"
    >Add Your Site?</a
  >
</div>
<div class="flex flex-wrap w-full items-start justify-between">
  <div class="flex flex-col gap-2 mx-2 sm:order-2">
    <span class="font-semibold my-4 text-zinc-700 dark:text-zinc-300">
      Categories
    </span>
    <ul class="flex items-center justify-center gap-4">
      {{range .Categories}}
      <li>
        <a
          class="underline hover:text-black dark:hover:text-white hover:cursor-pointer"
          href="/category/{{.}}"
          >{{.}}</a
        >
      </li>
      {{end}}
    </ul>
  </div>
  <div
    class="w-[250px] mx-5 order-last sm:order-2 my-4 self-center justify-self-center"
  >
    <form class="w-full">
      <input
        type="search"
        name="q"
        class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-zinc-700 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500"
        placeholder="Search"
      />
    </form>
  </div>
  <div class="sm:order-3 my-4">
    <p>
      Collection
      <span class="font-semibold text-zinc-700 dark:text-zinc-300"
        >{{.LinkCount}}</span
      >
    </p>
  </div>
</div>
{{end}}
