{{ define "GlobalHeader" }}
<!-- Firefox FUOC https://bugzilla.mozilla.org/show_bug.cgi?id=1404468 -->
<script>0</script>
<header class="flex justify-between my-10">
  <h3 class="p-1">MW</h3>
  <nav class="flex gap-4 items-center">
    <a class="hover:text-zinc-900 dark:hover:text-zinc-50" href="/">Home</a>
    <a class="hover:text-zinc-900 dark:hover:text-zinc-50" href="/about"
      >About</a
    >
  </nav>
</header>
<div class="flex w-full items-center justify-end">
  <p>
    Collection <span class="font-semibold text-zinc-700 dark:text-zinc-300">{{.LinkCount}}</span>
  </p>
</div>
{{end}}
