{{define "GlobalHead"}}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minimal Websites</title>
    <meta name="title" content="Minimal Websites" />
    <meta
      name="description"
      content="A moderated curation platform to find and submit minimal websites"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://minweb.site/" />
    <meta property="og:title" content="minimal websites" />
    <meta property="og:description" content="" />
    <link href="/assets/css/tailwind.css" rel="stylesheet" />
    <style>
      @import url("https://unpkg.com/@fontsource/inter@5.0.15/index.css");

      body {
        font-family: Inter, sans-serif;
      }
    </style>
  </head>
{{end}}