{{ define "GlobalHeader" }}
<!-- Firefox FUOC https://bugzilla.mozilla.org/show_bug.cgi?id=1404468 -->
<script>0</script>
<header class="flex justify-between my-10">
  <a href="/" class="cursor-pointer"><h3 class="p-1">MW</h3></a>
  <nav class="flex gap-4 items-center">
    <a class="hover:text-zinc-900 dark:hover:text-zinc-50" href="/">Home</a>
    <a class="hover:text-zinc-900 dark:hover:text-zinc-50" href="/about"
      >About</a
    >
    <!-- <a class="hover:text-zinc-900 dark:hover:text-zinc-50" href="/login"
      >Login</a
    > -->
  </nav>
</header>
<div class="flex w-full items-center justify-between">
  <div class="flex flex-col gap-2 mx-2">
    <span class="font-semibold text-zinc-700 dark:text-zinc-300">
      Categories 
    </span>
    <ul class="flex items-center justify-center gap-4">
      {{range .Categories}}
        <li>
          <a class="underline hover:text-black dark:hover:text-white hover:cursor-pointer" href="/category/{{.}}">{{.}}</a>
        </li>
      {{end}}
    </ul>
  </div>
  <div>
    <p>Collection <span class="font-semibold text-zinc-700 dark:text-zinc-300">{{.LinkCount}}</span>
    </p> 
  </div>
</div>
{{end}}
