{{define "About"}}
<!DOCTYPE html>
<html lang="en">
  {{template "GlobalHead"}}
  <body class="px-2 mx-auto max-w-5xl dark:bg-zinc-900 dark:text-zinc-400">
    {{template "GlobalHeader"}}
    <div class="min-h-[80vh] flex flex-col justify-center w-full">
      <main class="prose prose-zinc dark:prose-invert">
        <h1>About</h1>
        <section>
          <p>
            <a href="http://minweb.site">minweb.site</a> is a simple curation
            platform for minimally aesthetic websites, curated by
            <a href="https://reaper.is">reaper</a>
            and
            <a href="https://www.wiesson.dev">Arne Wiese</a>
          </p>
        </section>
      </main>
    </div>
  </body>
</html>
{{end}}
