{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
  {{template "GlobalHead" .}}
  <body class="px-2 mx-auto max-w-5xl dark:bg-zinc-900 dark:text-zinc-400">
    {{template "GlobalHeader" .}}
    <div class="min-h-[80vh] flex flex-col justify-center w-full">
      <div
        id="loading-text"
        class="opacity-0 duration-150 w-full h-[100px] items-center flex justify-center gap-2"
      >
        <div>Complicating</div>
        <div class="flex items-center gap-1">
          <span
            class="bg-zinc-700 dark:bg-zinc-50 h-1 w-1 rounded-full animate-[bounce_1s_infinite_100ms]"
          ></span>
          <span
            class="bg-zinc-700 dark:bg-zinc-50 h-1 w-1 rounded-full animate-[bounce_1s_infinite_150ms]"
          ></span>
          <span
            class="bg-zinc-700 dark:bg-zinc-50 h-1 w-1 rounded-full animate-[bounce_1s_infinite_300ms]"
          ></span>
        </div>
      </div>
      <div
        id="bento-grid"
        class="mt-12 transition-all duration-150 delay-200 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
      >
        {{ range .Links }}
        <a
          href="{{.Link}}"
          title="{{.Title}}"
          class="shadow-md group relative dark:shadow-none h-fit dark:bg-zinc-600 border-zinc-600 rounded-xl overflow-hidden"
        >
          <!-- Overlay -->
          <div
            class="absolute bottom-0 left-0 w-full h-0 flex flex-col justify-end pb-2 items-center bg-lime-400 opacity-0 group-hover:h-12 group-hover:opacity-100 duration-500"
          >
            <p class="text-zinc-900">URL: {{.Link}}</p>
          </div>
          <img
            src="{{.Meta.Image}}"
            alt="{{.Title}}"
            class="object-left-top object-cover rounded-md w-full"
          />
        </a>
        {{end}}
      </div>
    </div>
    <footer class="text-zinc-400 mt-[100px] mb-2">
      Curated by
      <a
        class="underline text-zinc-400 dark:text-zinc-600 hover:text-zinc-900 dark:hover:text-zinc-50"
        href="https://reaper.is"
        >reaper</a
      >
      and
      <a
        class="underline text-zinc-400 dark:text-zinc-600 hover:text-zinc-900 dark:hover:text-zinc-50"
        href="https://www.wiesson.dev"
        >Arne Wiese</a
      >
    </footer>

    <script src="/assets/bundle/elements.js" type="module" async defer></script>
    <script src="/assets/bundle/themer.js" type="module" async defer></script>
  </body>
</html>

{{end}}
