{{define "LoginPage"}}
<!DOCTYPE html>
<html lang="en">
  {{template "GlobalHead" .}}
  <body class="px-2 mx-auto max-w-5xl dark:bg-zinc-900 dark:text-zinc-400">
    {{template "GlobalHeader" .}}
    <div class="min-h-[80vh] flex flex-col justify-center w-full">
      <form action="/login" method="POST" class="w-full flex flex-col items-center justify-center gap-4">
        <fieldset class="flex flex-col gap-2 items-center justify-center">
          <label
            for="username"
            class="flex flex-col text-zinc-400 focus-within:text-zinc-700"
          >
            Username
            <input
              name="username"
              id="username"
              required
              class="rounded-md px-3 py-2 border border-zinc-100 dark:bg-zinc-800 bg-zinc-200"
            />
          </label>
          <label
            for="password"
            class="flex flex-col text-zinc-400 focus-within:text-zinc-700"
          >
            Password
            <input
              type="password"
              name="password"
              id="password"
              required
              class="rounded-md px-3 py-2 border border-zinc-100 dark:bg-zinc-800 bg-zinc-200"
            />
          </label>
        </fieldset>
        <button
          type="submit"
          class="inline-flex items-center justify-center px-5 py-2 rounded-md bg-black text-white dark:bg-white dark:text-white"
        >
          Login
        </button>
      </form>
    </div>
  </body>
</html>
{{end}}
