@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-zinc-50 bg-zinc-900;
  font-size: 100%;
  font-family: 'Bad Script', handwriting;
}

a.link {
  @apply text-inherit hover:text-white;
}

.cal {
  font-family: 'Inter', sans-serif;
}

.input {
  @apply overflow-hidden gap-4 items-center p-2 pl-3 w-full bg-transparent rounded border shadow outline-offset-2 border-zinc-700;
}
